@import "../source/variables";
button{
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

button.primary{
    background-color: $primary;
    color: white;
}

button.secondary{
    background-color: $secondary;
    color: black;
}

